{% extends 'base.html.twig' %}

{% block title %}Edit Instrument{% endblock %}

{% block body %}
    <h1>Edit Instrument</h1>
    <div class="container">
        <div class="row">
            <div class="cold-md-3">
                <div class="card-header">
                    <h3>Form</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        {{ include('instrument/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <a href="{{ path('instrument_index') }}">back to list</a>

    
{% endblock %}
