{% include 'header.html.twig' %}

<body>
    <h2 class="text-center"><span >Blog de instruemtos Musicales</span></h2>

    <blockquote>
            <p class="text-center">Este blog tiene como fin hablar sobre instruments musicales</p>
    </blockquote>
</body>

