{% include 'header.html.twig' %}

<body>
    <h2 class="text-center"><span >Blog Musical</span></h2>

    <blockquote>
            <p class="text-center">Este blog esta tiene como fin hablar sobre instruments musicales</p>
    </blockquote>
</body>

